<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="form-group">
                <label for="input_nome">Nome:</label>
                <input type="text" [(ngModel)]="valoreInput" id="input_nome" class="form-control" >
            </div>
            
            <button type="button" class="btn btn-block" (click)="stampaVariabile()">Cliccami</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
    
            <table class="table">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Cognome</td>
                    </tr>
                </thead>
            </table>
            <tbody>
                <!-- TABELLA DA RIEMPIRE AUTOMATICAMENTE -->
            </tbody>
    
        </div>
    </div>
</div>
