<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <h1>Inserisci Consumabile</h1>

            <div class="form-group">
                <label for="input_codice">Codice:</label>
                <input type="text" class="form-control" id="input_codice" [(ngModel)]="inputCodice" />
            </div>
            
            <div class="form-group">
                <label for="input_nome">Nome:</label>
                <input type="text" class="form-control" id="input_nome" [(ngModel)]="inputNome" />
            </div>

            <div class="form-group">
                <label for="input_descrizione">Descrizione:</label>
                <textarea class="form-control" id="input_descrizione" [(ngModel)]="inputDescrizione" >
                </textarea>
            </div>

            <div class="form-group">
                <label for="input_tipologia">Tipologia:</label>
                <input type="text" class="form-control" id="input_tipologia" [(ngModel)]="inputTipologia" />
            </div>

            <button type="button" (click)="inserisciConsumabile()" class="btn btn-outline-primary" >Inserisci Consumabile</button>

        </div>
        <div class="col-md-3"></div>
        
    </div>
</div>