<div class="container" *ngIf="!showDettaglioCons">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Consumabile non trovato!</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div class="container" *ngIf="showDettaglioCons">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <h1>Dettaglio Consumabile</h1>

            <div class="form-group">
                <label for="input_codice">Codice:</label>
                <input type="text" class="form-control" id="input_codice" [(ngModel)]="inputCodice" />
            </div>
            
            <div class="form-group">
                <label for="input_nome">Nome:</label>
                <input type="text" class="form-control" id="input_nome" [(ngModel)]="inputNome" />
            </div>

            <div class="form-group">
                <label for="input_descrizione">Descrizione:</label>
                <textarea class="form-control" id="input_descrizione" [(ngModel)]="inputDescrizione" >
                </textarea>
            </div>

            <div class="form-group">
                <label for="input_tipologia">Tipologia:</label>
                <input type="text" class="form-control" id="input_tipologia" [(ngModel)]="inputTipologia" />
            </div>

            <div class="alert alert-primary" role="alert" *ngIf="showTuttoOk">
                Operazione effettuata con successo!
              </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-block" (click)="eliminaConsumabile()" *ngIf="!showTuttoOk">Elimina</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-warning btn-block" (click)="modificaConsumabile()" *ngIf="!showTuttoOk">Modifica</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
        
    </div>
</div>