<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MenuApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/consumabile/list" routerLinkActive="true">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/consumabile/insert" routerLinkActive="true">Aggiungi</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" routerLink="/prove-interne" routerLinkActive="true"><strong>Prove Interne</strong></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>