<div class="container">
    <div class="row mt-5">
        <div class="col">
    
            <table class="table">
                <thead>
                    <tr>
                        <td>Codice</td>
                        <td>Nome</td>
                        <td>Descrizione</td>
                        <td>Tipologia</td>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let consumabile of elenco">
                        <td>
                            <a href="consumabile/detail/{{consumabile.codice}}">{{consumabile.codice}}</a>
                        </td>
                        <td>{{consumabile.nome}}</td>
                        <td>{{consumabile.descrizione}}</td>
                        <td>{{consumabile.tipologia}}</td>
                    </tr>

                </tbody>
            </table>
    
        </div>
    </div>
</div>
